{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mahnaz Finearts - 404 Page</title>
  <link rel="stylesheet" href="{% static 'css/exception.css' %}">
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

</head>
<body>


    <nav>
        <div class="menu">
            <p class="website_name">Mahnaz FineArts</p>
            <div class="menu_links">
                <a href="/#about" class="link">about</a>
                <a href="/#porfolio" class="link">porfolio</a>
                <a href="/#contact" class="link">contact</a>
            </div>
            <div class="menu_icon">
                <span class="icon"></span>
            </div>
        </div>
    </nav>

    <section class="wrapper">

        <div class="container">

            <div id="scene" class="scene" data-hover-only="false">


                <div class="circle" data-depth="1.2"></div>

                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="two" data-depth="0.60">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <div class="three" data-depth="0.40">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>

                <p class="p404" data-depth="0.50">403</p>
                <p class="p404" data-depth="0.10">403</p>

            </div>

            <div class="text">
                <article>
                    <p>Uh oh! You don't have the permission to view this page <br>Go back to the homepage </p>
                    <button onclick="myFunction()">Home</button>
                </article>
            </div>

        </div>
    </section>
<!-- partial -->
<script>
    function myFunction(){
    location.href = '/';
    }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'js/exception.js' %}"></script>

</body>
</html>
