{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mahnaz FineArts - Reviving Nature with painting</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="{% static 'css/kin.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

   <script src="{% static 'js/iziToast.js' %}"></script>
   <script src="{% static 'js/type.js' %}"></script>
   <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/modal.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/iziToast.css' %}" rel="stylesheet">

  
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

<!--      <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="/" class="logo me-auto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="/#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>

          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <style>
    .marg{
        margin-top: 60px !important;
        margin-bottom: 24px;
    }
  </style>


<center>
<div class="row marg">
          <div class="col-lg-12 d-flex align-items-center mySwiper2" data-aos="fade-right" data-aos-delay="100">
            <div  class="swiper-wrapper ">
              
              
             
              
              <div style="width: 80%; margin: auto; box-shadow: 0px 0 30px rgba(0, 0, 0, 0.23); min-height: 320px; text-align: center;" class="swiper-slide card align-items-center">
                 <img style="width: 80%; height: 400px; text-align: center;" src="{{image.url}}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body ">
                    
                   </div>
                    </div>
                </div>
          </div>
        </div>
        <h1 style="font-size: 25px;"  class="mx-auto text-ce-autonter my-2">{{title}}</h1>
                    <p style="font-size: 16px; margin-left: 7.5px !important; margin-right: 7.5px !important; display: block !important;" class="card-text mr-2 ml-2 my-2">
                {{content}}</p>


        
</center>

<!-- Row Event Display Section -->
        <h1 style="display: block;text-align: center; margin: auto; font-weight: bold; font-size: 30px; padding: 8px;" class="my-2" data-aos="fade-right" data-aos-delay="100"> Other Events
        </h1>

<div class="row ">
    <div class="col-lg-6 d-flex align-items-center mySwiper2" data-aos="fade-right" data-aos-delay="100">
        <div class="swiper-wrapper ">
            


            {% for event in events %}

            <div style=" margin: 6px; box-shadow: 0px 0 30px rgba(0, 0, 0, 0.23); min-height: 320px; text-align: center;"
                class=" card align-items-center">
                <img style="width: 80%; height: auto; text-align: center;" src="{{event.event_image.url}}"
                    class="card-img-top img-fluid" alt="...">
                <div class="card-body ">
                    <h1 style="font-size: 25px;" class="card-title text-center mr-2 ml-2 mt-2">{{event.event_name}}</h1>
                    <p style="font-size: 13px; margin-left: 7.5px !important; margin-right: 7.5px !important; display: block !important;"
                        class="card-text mr-2 ml-2 mt-2">
                        {{event.event_description|slice:":50"}}..</p>
                    <a style="text-align:center; margin: 20px; width: 100px;"
                        class="btn btn-dark col-6 mx-auto align-items-center"
                        href="{% url 'event_detail' event.id %}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% if messages %}
      {% for message in messages %}

        {% if message.tags == 'error' %}

            <script>
              iziToast.show({
              title : 'Error',
              message: '{{message}}',
              position: 'topCenter',
              color: 'red',
              });
            </script>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if messages %}
      {% for message in messages %}

        {% if message.tags == 'success' %}

            <script>
              iziToast.show({
              title : 'Success',
              message: '{{message}}',
              position: 'topCenter',
              color: 'green',
              });
            </script>
        {% endif %}
      {% endfor %}
    {% endif %}








  <!-- ======= Footer ======= -->
{% include 'includes/footer.html' %}
